.lista{
    margin-left: 20px;
}
.col1{
    font-weight: 400;
    font-size: large;
    padding-top: 150px;
    text-align: center;
    font-style: oblique;
}
.col2{
    padding-top: 80px;
}
.col3{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}