<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
  <div class="container">
    <div class="row">
      <div class="col-sm col1footer">
        <div class="links">Siguenos en:</div>
        <div class="links"><a href="https://es-la.facebook.com/BogotaInstituteOfTechnology/"><img src="./assets/facebook.png" width="50" height="50" alt=""></a></div>
        <div class="links"><a href="https://api.whatsapp.com/send?phone=3214237797&text=Buen%20d%C3%ADa,%20Como%20puedo%20ayudarlo?"><img src="./assets/whatsapp.png" width="50" height="50" alt=""></a></div>
      </div>
      <div class="col-sm col2footer">
        <h6>SERVICIO AL CLIENTE</h6>
          <div>
            <dl>
              <dt>Jorge Pardo Quiroga</dt>
              <dt>Administrador</dt>
              <dt>cel.: 3214237797</dt>
              <dt>email: jorgepardo0730@hotmail.com</dt>
              <dt>Bogotá D.C</dt>
            </dl>
          </div>
      </div>
      <div class="col-sm col3footer">
        <div class="mapa">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3976.6759126811094!2d-74.1732383!3d4.6517656!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9c4ad8b2bbfb%3A0xaaa74be5dd262085!2sParque%20Central%20Tintal%20Etapa%202!5e0!3m2!1ses-419!2sco!4v1681688655784!5m2!1ses-419!2sco" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</nav>
  